
.pic {
  object-fit: contain;
}

.pic-square {
  width: 100px;
  height: 100px;
}

.pic-portrait {
  width: 260px;
  height: 350px;
  object-fit: cover;
}

.pic-landscape {
  width: 100%;
  max-width: 420px;
  height: 290px;
  object-fit: cover;
}

.pic-avatar {
  border-radius: 50%;
}

.pic-avatar {
  width: 70px;
  height: 70px;
}

.pic-avatar.is-large {
  width: 100px;
  height: 100px;
}

.pic-center {
  object-position: center;
}

.pic-top-l {
  object-position: top left;
}

.pic-bottom-l {
  object-position: bottom left;
}

.pic-top-r {
  object-position: top right;
}

.pic-bottom-r {
  object-position: bottom right;
}

.pic-placeholder {
  border: 2px solid currentColor;
}

.pic.is-flag {
  display: inline-flex;
  flex-grow: 0;
	max-width:20px;
}