[data-reach-accordion] {}

[data-reach-accordion-item] {
  padding:var(--input-padding);
}


.accordion-card {
    background-color:var(--default-bg);
  border-radius: 4px;
  width:100%;
  max-width:320px;
  border:2px solid;
}

[data-reach-accordion-item][data-state="open"] {
  /* styles for all open accordion items */
}
[data-reach-accordion-item][data-state="collapsed"] {
  /* styles for all collapsed accordion items */
  filter:var(--input-unbright);
}

[data-reach-accordion-button] {
  /* styles for buttons in all accordion items */
}
[data-reach-accordion-button][aria-expanded] {
  /* styles for buttons in open accordion items */
}

[data-reach-accordion-panel] {
  /* styles for all accordion panels */
}
[data-reach-accordion-panel][data-state="open"] {
  /* styles for all open accordion panels */
}
[data-reach-accordion-panel][data-state="collapsed"] {
  /* styles for all collapsed accordion panels */

}
