.embla__viewport {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  /* margin-left: -10px; */
}

.embla__slide {
  flex: 0 0 100%;
  opacity: 0.9;
}

@media (orientation: landscape) {
  .embla__slide {
    flex: 0 0 50%;
  }
  .embla__slide.is-small,
  .embla__slide.is-xtrasmall {
    flex: 0 0 33.3333%;
  }
}

@media (orientation: landscape) and (min-width: 1040px) {
  .embla__slide {
    flex: 0 0 33.3333%;
  }
  .embla__slide.is-small {
    flex: 0 0 25%;
  }
  .embla__slide.is-xtrasmall {
    flex: 0 0 20%;
  }
}

.embla__slide.has-loaded {
  opacity: 1;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}
