.textarea-container {
  width: 100%;
}

.textarea-container textarea {
  --forms-bg: var(--light);

  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  overflow: visible;
  /* EDGE */
  width: 100%;
  caret-color: var(--forms-color);

  border: 1px solid var(--forms-color);
  color: var(--forms-color);
  background-color: var(--forms-bg);

  padding: var(--forms-padding);
  margin-bottom: var(--forms-owl);
  min-height: var(--forms-height);
}

.textarea-container textarea.-s {
  width: 300px;
}

.textarea-container textarea:focus {
  --forms-color: var(--accent);
  outline: none;
  font-weight: bold;
  box-shadow: var(--forms-shadow);
}

.textarea-container textarea:disabled {
  opacity: 0.8;
  cursor: no-drop;
}
