[data-reach-listbox-option][data-current] {
  font-weight: bolder;
}

[data-reach-listbox-input] {
  padding: 0;
}

[data-reach-listbox-option] {
  display: flex;
  align-items: center;
}

[data-reach-listbox-button] {
  justify-content: space-between;
  align-items: center;
  user-select: none;
  border: 1px solid transparent !important;
}

[data-reach-listbox-arrow] {
  /* margin-left: 0.5rem;
  display: block;
  font-size: 0.5em; */
}

[data-reach-listbox-group-label] {
  display: block;
  margin: 0;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  user-select: none;
  font-weight: bolder;
}

[data-reach-listbox-popover][hidden] {
  display: none;
}
