[data-user-value] {
  font-weight: bold;
}

[data-suggested-value] {
  font-weight: normal;
}

[data-reach-combobox-input] {
  flex: 1;
}

[data-reach-combobox-popover] {
  display: block;
  position: absolute;
  width: 100%;
}

[data-reach-combobox-option] {
  display: flex;
  align-content: center;
}

[data-reach-combobox-option] span {
  display: flex;
  align-self: center;
}
