table {
  --toolbar-bg: var(--grey-bg);
  background-color: var(--toolbar-bg);
  border: 1px solid #333;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead {
  border-bottom: 1px solid #ccc;
}

thead tr {
  background-color: #f2f2f2;
}
thead th {
  font-weight: normal !important;
}

th,
td {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

/* 
  tbody tr:focus-within {
        background: #aee8f5;
      }
 */

tbody tr {
  width: 100%;
}

tbody td > * + * {
  margin-left: 12px !important;
}

@media (orientation: portrait) {
  td.hide-on-portrait,
  th.hide-on-portrait {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  table.has-hover {
    overflow: hidden;
  }
  table.has-hover td,
  table.has-hover th {
    padding: 10px;
    position: relative;
    outline: 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
  }
  table.has-hover th {
    font-weight: bold;
  }
  table.has-hover thead th {
    border-bottom-width: 2px;
  }
  table.has-hover tbody th {
    text-align: left;
    white-space: nowrap;
  }
  table.has-hover tbody > tr:hover td,
  table.has-hover tbody > tr:hover th {
    background: #fffe96;
  }
  table.has-hover td:hover:after,
  table.has-hover thead th:not(:empty):hover:after {
    content: "";
    position: absolute;
    z-index: -2;
    top: -5000px;
    left: 0;
    width: 100%;
    height: 10000px;
    background: #fffe96;
  }
  table.has-hover tbody > tr > td:hover {
    background: #fffd2d;
  }
}
