#cookie {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100;
  background-color: #bababa;
  color: #f9f9f9;
  padding: 12px;
  z-index: 100;
}

#cookie button {
  background-color: transparent;
  padding: 0;
  border: 1px solid transparent;
}

#cookie button:focus {
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

@media (orientation: landscape) {
  #cookie {
    padding: 12px 30px 12px 12px;
  }
  #cookie button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
}
