/* 

480px is default breakpoint of component

TODO: 
.menu {
  position: absolute;
  &:after {
    content: "";
    position: absolute;
    left: -12px;
    top: -16px;
    z-index: -1;
    width: 50px;
    height: 50px;
    background: #E83474;
    border-radius: 7px;
    opacity: 0.5;
    transition: 0.3s ease-out;
  }  
}
aside {
  flex-basis: max(30vw, 150px);
}
 
The aside minimum width is 150px, and it will be 30vw if the viewport width is greater than 500px (500 * 30% = 150).

*/

nav {
}

.nav-top {
  padding: 8px 28px;
  background-color: beige;
}

nav .action:not(:last-of-type) {
  margin-right: 12px;
}

.sidebar > *:nth-child(2) {
  /* first child is close button */
  margin-bottom: 48px;
}

.sidebar .action:not(:last-of-type) {
  margin-bottom: 12px;
}

.sidebar {
  padding: 18px;
  position: fixed;
  background-color: pink;
  height: 100%;
  width: 100%;
  max-width: 300px;
  top: 0;
  left: 0;
  transform: translateX(-300px);
  z-index: 99;
  transition: transform 200ms cubic-bezier(0.2, 0, 0.1, 1);
}
