.radio-container {
  --forms-bg: var(--light);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--forms-bg);
  margin-bottom: var(--forms-owl);
  border: 1px solid var(--forms-color);
}

.radio {
  min-height: 80px;
}

.radio:not(:last-of-type) {
  border-right: 1px solid var(--forms-color);
}

.radio-pinned {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio label {
  min-width: auto;
  pointer-events: none;
  padding-left: 12px;
  display: inline-flex;
  color: var(--forms-color);
}

.radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  flex-shrink: 0;
  background-color: var(--forms-bg);
  color: var(--forms-color);
  width: 100%;
  border-radius: 0 !important;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  height: 100%;
}

.radio input::after {
  position: absolute;
  right: var(--forms-padding);
  top: var(--forms-padding);
  width: 100%;
  height: 100%;
  content: "";
}

.radio input::before {
  --forms-bg: var(--dark);
  position: absolute;
  top: 8px;
  right: 8px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--forms-bg);
  z-index: 90;
}

.radio input:checked::before {
  --forms-bg: rgb(240, 231, 71);
  position: absolute;
  top: 8px;
  right: 8px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--forms-bg);
  z-index: 98;
}

.radio input[type="radio"]:focus {
  --forms-color: var(--accent);
}

.radio input:disabled {
  opacity: 0.8;
  cursor: no-drop;
}
