/* 
Contains <Box> <Pin> <Spacer>

Tip: most flex box issues are solved by applying min-width:0; to the offender.
*/

.flex {
  /* turn into a row, defauls as .main-start.cross-baseline */
  display: flex;
  position: relative;
}

.is-inline {
  display: inline-flex !important;
}

@media (orientation: landscape) {
  /* col-to-row on landscape */
  .flex-landscape {
    display: flex;
  }
}

.col {
  flex-direction: column;
}

.grid {
  /* pair it with .**-gap */
  flex-wrap: wrap;
}

.grid-gap {
  grid-gap: 10px 10px;
}

.row-gap > *:not(:last-child) {
  --row-child-margin: 6px;
  margin-right: var(--row-child-margin);
}

.col-gap > *:not(:last-child) {
  --column-child-margin: 6px;
  margin-bottom: var(--column-child-margin);
}

.trinity {
  /* shortcut for .flex.main-between.row-gap-x */
  display: flex;
  justify-content: space-between;
}

.trinity::before,
.trinity::after,
.row-gap-x::before,
.row-gap-x::after {
  content: "";
}

.self-push-left {
  margin-left: auto;
}

.self-push-right {
  margin-right: auto;
}

.self-push-top {
  margin-top: auto;
}

.self-push-bottom {
  margin-bottom: auto;
}

.self-stretch {
  flex-grow: 1;
}
.self {
  flex: 2;
}

.self.is-small {
  flex: 1;
}

.self.is-large {
  flex: 3;
}

.self-unset {
  flex: 1;
  min-width: 0;
}

.main-start {
  justify-content: flex-start;
}

.main-end {
  justify-content: flex-end;
}

.main-center {
  justify-content: center;
}

.main-around {
  justify-content: space-around;
}

.main-between {
  justify-content: space-between;
}

.cross-center {
  align-items: center;
}

.cross-start {
  align-items: flex-start;
}

.cross-end {
  align-items: flex-end;
}

.cross-baseline {
  align-items: baseline;
}

.wrap-start {
  align-content: start;
}

.wrap-center {
  align-content: center;
}

.wrap-around {
  align-content: space-around;
}

.wrap-between {
  align-content: space-between;
}

.self-start {
  -ms-grid-row-align: start;
  align-self: start;
}

.self-center {
  -ms-grid-row-align: center;
  align-self: center;
}

.self-end {
  -ms-grid-row-align: end;
  align-self: end;
}

.self-stretch {
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.self-none {
  flex: none;
  /* inflexible (w/h) => flex: 0 0 auto */
}

@media (orientation: portrait) {
  .self-portrait-first {
    order: -1 !important;
  }
}

.spacer {
  --spacer: 16px;
  display: flex;
  flex: 1;
  min-height: var(--spacer);
  speak: never;
}

.spacer.is-small {
  --spacer: 12px;
  min-height: var(--spacer);
}

.spacer.is-xsmall {
  --spacer: 8px;
  min-height: var(--spacer);
}

.separator-min {
  background-color: currentColor;
  width: 20px;
  height: 2px;
  /* TODO:  margin:5px 0; vs. OWL */
}

.flex-box-area,
.flex-box-area * {
  --direction: column;
  display: flex;
  flex-direction: var(--direction);
  flex: 1;
}

/* 
    POSITION UTILS 
    (used by <Pin> primitive) 
*/

.is-absolute {
  position: absolute;
}

.is-absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-absolute-cover {
  width: 100%important;
  height: 100%important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
