/*

TODO: 

width: min(50%, 500px); => BROWSER CHOOSES SMALLER 

@supports (width: min(10px, 5vw)) {
  article .selector{
    padding: clamp(2rem, 10vmax, 10rem) 1rem;
  }
}


*/

article {
}

article > *:not(img):not(video):not(.full-bleed) {
  --bleed: 750px;
  width: 100%;
  max-width: var(--bleed);
  margin-left: auto;
  margin-right: auto;
}

article h1 {
}

article .article-header {
}

article .article-body p {
  hyphens: auto;
}

article .article-footer {
}
