:root {
  --action-bg: currentColor;
  --action-color: currentColor;
  --action-border-color: currentColor;
  --action-shadow: none;
  --action-transition: all 150ms ease-in-out;
  --action-border-radius: 0.33em;
  --action-height: var(--input-height);
  --action-padding: 0 var(--input-padding);
  --action-max-width: 320px;
}

a {
  color: currentColor;
  background-color: transparent;
  text-decoration: none;
}

.action svg {
  display: flex;
}

button::-moz-focus-inner {
  border: 0;
}

.action,
a.action {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif; */
  font-family: inherit;
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: button;
  vertical-align: top;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  /* prevent touch scrolling on buttons */
  display: inline-flex;
  appearance: none;
  cursor: pointer;
  min-height: var(--action-height);
  max-width: var(--action-max-width);
  overflow: visible;
  margin: 0;
  border-radius: 0;
  padding: var(--action-padding);
  border: 1px solid var(--action-border-color);
  background-color: var(--input-bg);
  position: relative;
  transition: var(--action-transition);
}

a.action {
  line-height: var(--action-height);
}

.is-link {
  display: inline !important;
  min-height: 0;
  max-width: auto;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  background: transparent;
  color: currentColor;
  -webkit-appearance: none;
}

/* ACTION STATES */

.action:hover {
  filter: var(--input-bright);
}

a:visited {
  filter: var(--input-bright);
}

.action:focus,button:focus {
  outline: none !important;
  outline: -webkit-focusAlgeria-ring-color auto 4px !important;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0 !important;
}

.action:disabled,
.action[disabled] {
  opacity: 0.8;
  cursor: no-drop;
}

.action.is-transparent {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0;
  min-height: auto;
}

/* ACTION SIZES */

.action.is-tiny,
.drop-down.is-tiny
 {
  --action-padding: 0 2px;
  --action-max-width: 55px;
  width: 100%;
  display: flex;
  width: var(--action-max-width);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action.is-tight {
  padding-left: 0;
}

/* DROPDOWN */

.drop-down {
  height: var(--input-height);
  width: 100%;
}

[data-reach-menu],
[data-reach-menu-popover] {
  top: calc(var(--input-height) + var(--popover-offset)) !important;
}

.drop-down.is-horizontal{
}
.drop-down.is-horizontal [data-reach-menu-button]{
max-width: 48px;
background-color: var(--white);
}

.drop-down.is-horizontal [data-reach-menu-popover]{
top:-2px!important;
right:48px;
width:calc(100% - 48px);
background-color: transparent;
}

.drop-down.is-horizontal [data-reach-menu-items]{
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.drop-down.is-horizontal [data-reach-menu-item]{
background-color:var(--popover-bg);
}


[data-reach-menu-button] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-reach-menu-item] {
  display: flex;
  user-select: none;
  cursor: pointer;
  /* a */
  color: inherit;
  font: inherit;
  text-decoration: initial;

  /* both */
  min-height: var(--input-height);

  min-width: 0;
  outline: none;
  padding: 0 var(--input-padding);
}

[data-reach-menu][hidden],
[data-reach-menu-popover][hidden] {
  display: none;
}



/* TOOLBAR */

.toolbar {
  --toolbar-bg: var(--popover-bg);
  background-color: var(--toolbar-bg);
  min-height: var(--input-height);
}

.toolbar > div,
.toolbar > button {
  flex: 1;
  position: relative;
}

.toolbar > div + div > .drop-down {
  border-left: 1px solid transparent;
}
