:root {
  --reach-tabs: 1;
  --tab-padding: 8px;
  --tab-header-bg: #777777;
  --tab-panel-bg: #888888;
}

[data-reach-tabs] {
  width: 100%;
}

[data-reach-tab-list],
[data-reach-tab-panels] {
  display: flex;
  background-color: var(--tab-header-bg);
}

[data-reach-tab-panels] {
  background-color: var(--tab-panel-bg);
}

[data-reach-tab-list] > * {
  flex: 1;
  /* make buttons fill available height */
}

[data-reach-tab-panels] {
  width: 100% !important;
}
[data-orientation="horizontal"] [data-reach-tab-panels] {
  min-height: 240px;
  flex: 1;
}

[data-reach-tab] {
  display: flex;
  align-items: center;
  border: none;
  color: inherit;
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  padding: var(--tab-padding);
  min-height: var(--input-height);
}

[data-reach-tab][data-orientation="horizontal"] {
  flex: 1;
}

[data-reach-tab-panel] {
  padding: var(--tab-padding);
  flex: 1;
}

[data-reach-tab-panel].is-tight {
  padding: 0;
}

/* TAB STATES */

[data-reach-tab]:focus,
[data-reach-tab-panel]:focus {
  outline: none !important;
  outline: -webkit-focusAlgeria-ring-color auto 4px !important;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0 !important;
}

[data-reach-tab]:active {
  filter: var(--input-bright);
}

[data-reach-tab]:disabled {
  opacity: 0.8;
  cursor: no-drop;
}

[data-reach-tab][data-selected] {
  border-bottom-color: currentColor;
}

[data-orientation="horizontal"] [data-reach-tab-panel] {
  border-top: none;
}

/* VERTICAL */

[data-reach-tabs][data-orientation="vertical"] {
  display: flex;
}

[data-reach-tab-list][aria-orientation="vertical"] {
  min-width: 190px;
}

[data-reach-tab-list][aria-orientation="vertical"] {
  flex-direction: column;
}
