.modal {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.landing-hero {
  backdrop-filter: saturate(180%) blur(16px);
  background-color: rgba(#fff, 0.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 3px 1px rgba(0, 0, 0, 0.2);
}

@supports (backdrop-filter: none) {
  .background {
    backdrop-filter: blur(10px);
  }
}

@supports not (backdrop-filter: none) {
  .background {
    /*fallback*/
  }
}

.FIX-ME-DYNAMIC {
  background: linear-gradient(to top, #000 0, transparent 20%);
}

@supports (width: max(20%, 20vw)) {
  .FIX-ME-DYNAMIC {
    background: linear-gradient(to top, #000 0, transparent max(20%, 20vw));
  }
}

.FIX-ME {
  background: linear-gradient(#000, #000), url("landscape.jpg") center/cover;
  background-blend-mode: color;
}

@supports not (background-blend-mode: color) {
  .FIX-ME {
    /*fallback*/
  }
}

.fx {
  position: absolute;
  right: -10%;
  left: 50%;
  top: -10%;
  bottom: -10%;
  z-index: 1;
}

.fx::before,
.fx::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
}

.fx::before {
  backdrop-filter: saturate(150%) blur(15px);
  mask: linear-gradient(to left, black 70%, transparent 100%);
}

.fx::after {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.35)
  );
  border-radius: 2em;
}
