[data-reach-custom-checkbox-container] {
  --checkbox-size: 32px;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  position: relative;
  cursor: pointer;
}

[data-reach-custom-checkbox-container][data-state="checked"] {
  background-color: var(--good);
}
[data-reach-custom-checkbox-container][data-state="unchecked"] {
  background-color: var(--default-bg);
}

[data-reach-custom-checkbox-container][data-state="mixed"] {
  background-color: var(--bad);
}

[data-reach-custom-checkbox-input] {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  z-index: 1 !important;
  cursor: inherit;
  box-shadow: none !important;
  outline: none !important;
}
