/* RATIOS  */
.ratio.is-human-tall {
  width: 100%;
  padding-top:55.72755%;
  max-height: 646px;
  max-width: 346px;
}

.ratio.is-human-not-tall {
  width: 100%;
  padding-top:9.6%;
  height: 301px!important;
  max-width: 275px;
}

.ratio.is-human-profile {
  width: 100%;
  padding-top:12%;
  height: 543px!important;
  max-width: 481px;
}

/* NAMESPACES */

.is-event {
  width: 100%;
  height: 428px!important;
  max-width: 275px;
  border: 1px solid currentColor;
}

.is-event img {
  height:200px;
  object-fit: cover;
}

.is-event-gallery {
  width: 100%;
  height: 479px!important;
  max-width: 235px;
  border: 1px solid currentColor;
}

.is-my-informations {
max-width: 1098px;
min-height: 756px;
box-shadow: 10px 10px 30px 0 rgba(164, 164, 164, 0.24);
background-color: #ffffff;
}


/* EFFECTS  */

.has-hover {
  filter:brightness(1.3)
}

.card.has-blend {
  opacity: 0.99;
  background-color: #ccc;
}

.card-pic-blend {
  background-color: red;
  background-blend-mode: screen;
  /*   background-image: linear-gradient(to right, #69B62F, #DE3375), url(blend-mode-example.jpg);*/
}

/* .card.has-blend .card-pic {
  mix-blend-mode: luminosity;
} */

.card-title {
  color: #fff;
  font-size: 26px;
  text-transform: capitalize;
}

.card-title-transparent {
  font-size: 56px;
  color: #fff;
  mix-blend-mode: difference;
  /* mix-blend-mode: overlay; */
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-transform: capitalize;
}
.card-title-blend {
  opacity: 0;
  font-size: 26px;
  background-blend-mode: multiply;
  background-image: linear-gradient(to bottom, #6f6f6f, #6f6f6f);
}
@-moz-document url-prefix() {
  .card-title-transparent {
    background: none;
    text-shadow: none;
  }
}

/* IE 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-title-transparent {
    background: none;
    text-shadow: none;
  }
}
