:root {
  --input-padding: 8px;
  --input-width: 100%;
  --input-height: 48px;
  --input-bg: transparent;
  --input-color: currentColor;
  --input-border: currentColor;
  --input-bright: brightness(1.6);
  --input-unbright: brightness(.8);

  --popover-bg: #b4b4b4;
  --popover-offset: 2px;
  --popover-zindex: 10;

  --reach-combobox: 1;
  --reach-listbox: 1;
  --reach-checkbox: 1;
  --reach-menu-button: 1;
  --reach-accordion: 1;
}

/* FORM */
form {
  width: 100%;
}

form:focus-within {
  filter: brightness(0.99);
}

/* FORM ITEM */

.input-container,
.drop-down {
  position: relative;
}

/* LABEL */

.input-container label,
.label,
legend {
  text-transform: uppercase;
}
.input-container label::after,
.label::after {
  content: "\A";
  white-space: pre;
}

/* INPUT */

@media (orientation: portrait) {
  input {
    font-size: 16px !important;
  }
}

input:not([type="checkbox"]) {
  font: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.input-container input:not([type="checkbox"]),
[data-reach-listbox-option],
[data-reach-combobox-option],
[data-reach-listbox-input],
[data-reach-listbox-button],
[data-reach-combobox-input],
[data-reach-menu-button] {
  --input-height: 48px;
  --input-bg: var(--light);
  overflow: visible;
  /* EDGE */
  display: flex;
  cursor: pointer;
  width: var(--input-width);
  height: var(--input-height);
  caret-color: var(--input-color);
  color: var(--input-color);
  border: 1px solid var(--input-color);
  background-color: var(--input-bg);
  padding-right: var(--input-padding);
  padding-left: var(--input-padding);
}

/* INPUT STATES */

.input-container input:not([type="checkbox"]):hover,
[data-reach-combobox-option]:hover,
[data-reach-combobox-input]:hover,
[data-reach-menu-item]:hover {
  filter: var(--input-bright);
}

.input-container input:not([type="checkbox"]):focus,
[data-reach-combobox-option]:focus,
[data-reach-combobox-input]:focus,
[data-reach-listbox-button]:focus,
[data-reach-listbox-list]:focus,
[data-reach-menu-item]:focus,
[data-reach-custom-checkbox-container][data-focus] {
  outline: none !important;
  outline: -webkit-focusAlgeria-ring-color auto 4px !important;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0 !important;
}

[data-reach-listbox-option][aria-selected="true"],
[data-reach-combobox-option][aria-selected="true"],
[data-reach-menu-item][data-selected] {
  background-color: rgba(0, 0, 0, 0.2);
}

[data-reach-listbox-option][aria-selected="true"]:hover,
[data-reach-combobox-option][aria-selected="true"]:hover {
  filter: var(--input-bright);
}

.input-container input:disabled,
[data-reach-combobox-input][aria-disabled],
[data-reach-listbox-option][aria-disabled="true"],
[data-reach-listbox-button][aria-disabled="true"],
[data-reach-menu-item][aria-disabled] ,
[data-reach-accordion-button][disabled],
[data-reach-accordion-panel][data-disabled]
{
  opacity: 0.8;
  cursor: no-drop;
}

input:read-only,
[data-reach-accordion-item][data-read-only]  {
  cursor: not-allowed;
}

/* POPOVERS */

[data-reach-listbox-popover],
[data-reach-combobox-list],
[data-reach-menu],
[data-reach-menu-popover],
[data-reach-menu-list],
[data-reach-menu-items] {
  list-style: none;
  position: absolute;
  top: var(--popover-offset);
  left: 0;
  display: block;
  background-color: var(--popover-bg);
  outline: none;
  width: 100%;
  z-index: var(--popover-zindex);
  user-select: none;
  border: none !important;
}

/* INPUT SIZES */

.input.is-small {
  --input-width: 145px;
}

.input.is-xs {
  --input-width: 90px;
  text-align: center;
}

fieldset {
  border: none !important;
  flex: 1;
}

legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
}
