nav.breadcrumbs {
  width: 100%;
}

.breadcrumb-item {
  text-decoration: underline;
  cursor: pointer;
}

.breadcrumb-item.is-current {
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}
