*,
*::before,
*::after {
  box-sizing: border-box;
  color: currentColor;
}

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@viewport {
  width: device-width;
}

img {
  border: 0;
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.prevent-clipping {
  background-size: contain;
  background-repeat: round;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.unset-styles {
  display: unset;
  margin-bottom: initial;
  color: inherit;
}

aside,
article,
footer,
header,
main,
nav,
section {
  display: block;
}

[hidden],
template {
  display: none !important;
}

ol,
ul {
  list-style: none;
}

/*CRITICAL TOKENS */

:root {
  --quiet: transparent;
  --white: hsl(0 100% 100% / 1);
  --black: hsl(0 0% 0% / 1);
  --good: #649d66;
  --bad: coral;
  --grey-bg: #b4b4b4;
  --default-color: #292929;
  --default-bg: #ecedee;
    --font-height-default: 1.4;
  --font-height-s: 1.15;
  --font-weight-default: 400;
  --hbody: calc((16 / 16) * 1rem);
}

@supports (font-size-adjust: 1) {
  .enchance-font-swap {
    font-size-adjust: 0.5;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  background-color: var(--default-bg);
  color: var(--default-color);
}

body {
  font-size: var(--hbody);
  font-weight: var(--font-weight-default);
  line-height: var(--font-height-default);
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  text-align: left;
  overflow-y: scroll;
}

/*.
    CONTAINERS
.*/

:root {
  --bleed: 1200px;
}
main {
  padding: 12px;
}
main > *:not(img):not(video):not(.full-bleed) {
  width: 100%;
  max-width: var(--bleed);
  margin-left: auto;
  margin-right: auto;
}

.unsupported-experience {
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .unsupported-experience {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    display: block;
    width: 100%;
    height: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
  }
}
