.is-traced {
  --border-color: currentColor;
  border:1px solid var(--border-color);
}

/* COLORS */

.is-txt-white {
  color:var(--white);
}

.is-bg-transparent {
  background-color: transparent!important;
}

.is-bg-grey {
  background-color: var(--grey-bg)!important;
}

.action.is-accent-theme {
  --action-bg: rgb(248, 245, 195);
  --action-color: rgba(40, 40, 40, 1);
  --action-border-color: currentColor;
  background-color: var(--action-bg);
  color: var(--action-color);
  border: 1px solid var(--action-border-color);
}

/* PADDINGS */

.has-p-0-0-35-38 {
  padding: 0 0 35px 38px;
}

.has-p-0-0-25-32 {
  padding: 0 0 25px 32px;
}

.has-p-0-25-0-25 {
  padding: 0 25px;
}

/* OTHER */

:root {
  --border-radius: 0.33em;
  --shadow: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
  --transition: all 150ms ease-in-out;
}

.has-radius {
  border-radius: var(--border-radius);
}

.has-shadow {
  box-shadow: var(--shadow);
}


/* @media screen and (prefers-color-scheme: dark) {
    :root {
        --default-color: WhiteSmoke;
        --default-bg: DimGrey;
    }
} */



/* RATIO */

.ratio {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ratio::before {
  display: block;
  content: "";
}

.ratio .ratio-item{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: cover;
}

.ratio.is-square::before {
  padding-top: 100%;
}
.ratio.is-16-9::before {
  padding-top: 56.25%;
}


/* 
    used by <Icon**> primitive
*/

.ico-spinner {
  display: inline-flex;
  border-radius: 50%;
  animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes spinner {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}