h1,
#primitives {
  text-decoration: underline;
  webkit-text-decoration: currentColor double underline;
  text-decoration: currentColor double underline;
}

.stock-row {
  width: 100%;
}
.stock-row > * {
  flex: 1;
}


.card {
  padding: 8px;
  border-radius: 4px;
  background-color: #ff5555;
  height: 10vmin;
  min-width: 10vmin;
  position: relative;
}
.card.is-xl {
  width: 240px;
  height: 220px;
}
.is-featured {
  padding: 8px;
  border: 2px solid currentColor;
}

aside {
  border: 2px solid currentColor;
  max-width: 200px;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}

aside + aside {
  margin-top: 20px;
  max-width: 100%;
  text-align: left;
}
aside > * {
  flex: 1;
}

.is-flex-l {
  flex: 2;
}

.is-flex-xl {
  flex: 3;
}
/*
THEME
*/

.-dark,
.-light,
.-transparent {
  padding: 12px;
}

.-dark {
  background-color: rgba(100, 100, 100, 1);
}

.-light {
  background-color: rgba(200, 200, 200, 1);
}

.-accent {
  background-color: #ff5555;
  padding: 12px;
}
