:root {
  --h0: 6vmin;
  --h1: calc((42 / 16) * 1rem);
  --h2: calc((36 / 16) * 1rem);
}

.font-space-mono {}

.font-futura {}

.text-blend {
  mix-blend-mode: difference;
  /* mix-blend-mode: overlay; */
}

.h0 {
  font-size: var(--h0);
  line-height: var(--font-height-s);
      text-edge: cap alphabetic;
    leading-trim: both;
}

.h1 {
  font-size: var(--h1);
  line-height: var(--font-height-s);
}

.h2 {
  font-size: var(--h2);
}

.font-number {
  font-variant-numeric: tabular-nums;
}

.font-uppercase {
  text-transform: uppercase;
}

.unset-underline {
  text-decoration: none !important;
}

b,
strong {
  font-weight: bold;
}

.font-break {
  /* break-all */
  overflow-wrap: break-word !important;
  word-break: break-word !important;
}

.font-break-pro {
  /*better than slice*/
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

:root {
  --text-selection: var(--good);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --text-selection: var(--bad);
  }
}

::-webkit-selection {
  background-color: var(--text-selection);
}

::-moz-selection {
  background-color: var(--text-selection);
}

::selection {
  background-color: var(--text-selection);
}

/* FONT PRESETS  */

.letter-spacing-0-78px {
  letter-spacing: 0.78px;
}

.is-light {
  font-weight: 300;
}

.is-medium {
  font-weight: 400;
}

.is-book {
  font-weight: 500;
}

.is-regular {
  font-weight: 400;
}

.is-bold {
  font-weight: 700;
}

.is-heavy {
  font-weight: 700;
}

.is-14 {
  font-size: 14px;
}

.is-16 {
  font-size: 16px;
}

.is-18 {
  font-size: 18px;
}

.is-20 {
  font-size: 20px;
}

.is-24 {
  font-size: 24px;
}

.is-32 {
  font-size: 32px;
}

.is-36 {
  font-size: 36px;
}

.is-cta {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.is-cta > * {
  white-space: nowrap;
}

.is-cta > *:first-of-type {
  flex-grow: 1;
}