:root {
  --underlay-bg: rgba(0, 0, 0, 0.8);
  --underlay-zindex: 99;
}
.underlay {
  z-index: var(--underlay-zindex);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--underlay-bg);
}

.toast {
  --toast-spacing: 20px;
  --toast-max-width: 80%;
  max-width: var(--toast-max-width);
  padding: 8px 6px;
  position: fixed;
  bottom: var(--toast-spacing);
  right: var(--toast-spacing);
  z-index: var(--underlay-zindex);
  background: var(--popover-bg);
}

.toast:focus,
.modal:focus {
  outline: none !important;
  outline: -webkit-focusAlgeria-ring-color auto 4px !important;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0 !important;
}

.modal {
  background: var(--popover-bg);
  padding: 8px 6px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.modal.is-xs {
  max-width: 48%;
}

.modal-title {
  font-size: 24px;
}

.tray-title,
.toast-title {
  font-size: 18px;
}

.tray {
  --tray-margin-top: 64px;
  --tray-width: 80%;
  --tray-max-width: 400px;
  --tray-min-height: 200px;
  width: var(--tray-width);
  max-width: var(--tray-max-width);
  min-height: var(--tray-min-height);
  max-height: calc(var(--viewport-height) - var(--tray-margin-top));
  position: absolute;
  bottom: 0;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  outline: none;
  background: var(--popover-bg);
}

.tray.is-open {
  transform: translateY(0);
}

.tray.is-max {
  height: calc(var(--viewport-height) - var(--tray-margin-top));
  top: var(--tray-margin-top);
}
